<ion-header-bar class="bar-dark">
<h1 class="title">Flights</h1>
</ion-header-bar>
<ion-content>

<div class="button-bar tripType ">
  <a class="button button-small button-calm">One-way</a>
  <a class="button button-small button-light">Round-trip</a>
</div>

<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-location placeholder-icon calm"></i>
    <input type="text" placeholder="From">
    <i class="icon ion-search placeholder-icon-right calm"></i>
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-location placeholder-icon calm"></i>
    <input type="text" placeholder="To">
    <i class="icon ion-search placeholder-icon-right calm"></i>
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-arrow-right-c placeholder-icon calm"></i>
    <input type="text" placeholder="Today">
    <i class="icon ion-calendar placeholder-icon-right calm"></i>
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-arrow-left-c placeholder-icon calm"></i>
    <input type="text" placeholder="To">
    <i class="icon ion-calendar placeholder-icon-right calm"></i>
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-person-add placeholder-icon calm"></i>
	<div class="button-bar">
	  <a class="button button-too-small"><i class="icon ion-minus-round placeholder-icon calm"></i></a>
	  <a class="button button-too-small"><i class="icon ion-plus-round placeholder-icon calm"></i></a>
	</div>
  </label>
</div>
<div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-social-usd placeholder-icon calm"></i>
    <input type="text" placeholder="Economy">
    <i class="icon ion-chevron-right placeholder-icon-right calm"></i>
  </label>
</div>

<button class="button button-block button-calm">
  Find Flights
</button>
</ion-content>

======================================

<ion-header-bar class="bar-dark">
<h1 class="title">Flights</h1>
</ion-header-bar>
<ion-content>

<div class="button-bar tripType ">
  <a class="button button-small button-calm">One-way</a>
  <a class="button button-small button-light">Round-trip</a>
</div>

<div class="list">

  <a class="item item-icon-left  item-icon-right" href="#">
    <i class="icon ion-location calm"></i>
    From
    <i class="icon ion-search calm"></i>
  </a>

  <a class="item item-icon-left  item-icon-right" href="#">
    <i class="icon ion-location calm"></i>
    To
    <i class="icon ion-search calm"></i>
  </a>

  <a class="item item-icon-left  item-icon-right" href="#">
    <i class="icon ion-arrow-right-c calm"></i>
    Today
    <i class="icon ion-calendar calm"></i>
  </a>

  <a class="item item-icon-left  item-icon-right" href="#">
    <i class="icon ion-arrow-left-c calm"></i>
    Tommorow
    <i class="icon ion-calendar calm"></i>
  </a>

  <a class="item item-icon-left  item-icon-right" href="#">
    <i class="icon ion-person-add calm"></i>
    Traveller
  <i class="icon ion-plus-round calm"></i>
  </a>

  <a class="item item-icon-left  item-icon-right" href="showFarePrefrence()">
    <i class="icon ion-social-usd calm"></i>
    Economy
  <i class="icon ion-chevron-right calm"></i>
  </a>
</div>



<button class="button button-block button-calm">
  Find Flights
</button>
</ion-content>
