<ion-view ng-controller="FlightListCtrl as vm" title={{vm.flightlist.title}} >
<ion-content>
	<div class="card">
	  <div class="item item-text-wrap">
	  	  <h4 class="title calm" ng-bind-html="vm.flightlist.detailTitle"></h4>
	  </div>
	</div>
	<div ng-init="vm.getItineraries()">
	<ion-list>
		<ion-item ng-show="vm.flightlist.nomatches">no matches found</ion-item>
		<ion-item ng-repeat="itinerary in vm.flightlist.itineraries | limitTo: 50">
			<show-itinerary  itinerary="itinerary" get="vm.getDetails" show="vm.showDetails"></show-itinerary>
        </ion-item>
        
    </ion-list>
	</div>
    <div ng-if="vm.flightlist.error" align="center"><p> <i class="icon ion-bug assertive"></i>  {{vm.flightlist.error}}</p></div>	
</ion-content>
</ion-view>