<ion-view title="Flights" ng-controller="FlightSearchInfoCtrl as vm">
<ion-header-bar class="bar-dark">
<h1 class="title">Flights</h1>
</ion-header-bar>
<ion-content>

<div class="button-bar tripType ">
  <a class="button button-small {{(vm.searchForm.travelType == 'One-way') ? 'button-calm' : 'button-light'}}" ng-click="vm.setTravelType($event)"><span class="{{(vm.searchForm.travelType == 'One-way') ? 'light' : 'calm'}}">One-way</span></a>
  <a class="button button-small {{(vm.searchForm.travelType == 'Round-trip') ? 'button-calm' : 'button-light'}}" ng-click="vm.setTravelType($event)"><span class="{{(vm.searchForm.travelType == 'Round-trip') ? 'light' : 'calm'}}">Round-trip</span></a>
</div>

<div class="list">

  <a class="item item-icon-left  item-icon-right" ng-click="vm.showFromAirports()">
    <i class="icon ion-location calm"></i>
    {{ vm.searchForm.fromAirport || 'From'}}
    <i class="icon ion-search calm"></i>
  </a>

  <a class="item item-icon-left  item-icon-right" ng-click="vm.showToAirports()">
    <i class="icon ion-location calm"></i>
    {{ vm.searchForm.toAirport || 'To'}}
    <i class="icon ion-search calm"></i>
  </a>
  <a class="item item-icon-left  item-icon-right" ng-click="vm.showFromCalendar()">
    <i class="icon ion-arrow-right-c calm"></i>
    {{ vm.searchForm.fromDate || 'Today' }}
    <i class="icon ion-calendar calm"></i>
  </a>
  <div class="myCalendar" id="fromFlyingDate"></div>
  <a class="item item-icon-left  item-icon-right" ng-click="vm.showToCalendar()" ng-hide="vm.searchForm.travelType == 'One-way'">
    <i class="icon ion-arrow-left-c calm"></i>
    {{ vm.searchForm.toDate || 'Tommorow' }}
    <i class="icon ion-calendar calm"></i>
  </a>
  <div class="myCalendar" id="toFlyingDate"></div>
  <a class="item item-icon-left  item-icon-right" ng-click="vm.travellerCount()">
    <i class="icon ion-person-add calm"></i>
    {{vm.searchForm.passengers}} {{(vm.searchForm.passengers == 1)? 'Traveller' : 'Travellers'}}
	<i class="icon ion-plus-round calm"></i>
  </a>

  <a class="item item-icon-left  item-icon-right" ng-click="vm.showFarePrefrence()">
    <i class="icon ion-social-usd calm"></i>
    {{ vm.searchForm.farePrefrence || 'Economy'}}
	<i class="icon ion-chevron-right calm"></i>
  </a>
</div>

</ion-content>
<ion-footer-bar class="footer">
<button class="button button-block button-calm">
  Find Flights
</button>
</ion-footer-bar>
</ion-view>
