<div ng-click="showItineraryDetail()">
	<div class="row itinerary">
	  <div class="col-xs-12 col-sm-8">{{getCarrierName(tempItinerary.slice[0].segment[0].flight.carrier)}}</div>
	  <div class="col-xs-6 col-sm-4">{{flightUtils.convertUSD(tempItinerary.saleTotal)}}</div>
	</div>
	<div class="row itinerary">
	  <div class="col-xs-2 col-sm-2 itineraryItem">{{flightUtils.getMonth_DD(tempItinerary.slice[0].segment[0].leg[0].departureTime)}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem">{{tempItinerary.slice[0].segment[0].leg[0].origin}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem">{{flightUtils.getTime(tempItinerary.slice[0].segment[0].leg[0].departureTime)}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem"><i class="icon ion-arrow-right-c"></i></div>
	  <div class="col-xs-1 col-sm-1 itineraryItem">{{tempItinerary.slice[0].segment[tempItinerary.slice[0].segment.length-1].leg[tempItinerary.slice[0].segment[tempItinerary.slice[0].segment.length-1].leg.length-1].destination}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem">{{flightUtils.getTime(tempItinerary.slice[0].segment[0].leg[tempItinerary.slice[0].segment[0].leg.length-1].arrivalTime)}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem"><i class="icon ion-clock"></i>{{flightUtils.getDuration(tempItinerary.slice[0].duration)}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem">stops: {{flightUtils.getStopCounts(tempItinerary.slice[0].segment)}}</div>
    </div>
	<div class="row itinerary" ng-if="tempItinerary.slice.length > 1">
	  <div class="col-xs-2 col-sm-2 itineraryItem">{{flightUtils.getMonth_DD(tempItinerary.slice[1].segment[0].leg[0].departureTime)}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem">{{tempItinerary.slice[1].segment[0].leg[0].origin}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem">{{flightUtils.getTime(tempItinerary.slice[1].segment[0].leg[0].departureTime)}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem"><i class="icon ion-arrow-right-c"></i></div>
	  <div class="col-xs-1 col-sm-1 itineraryItem">{{tempItinerary.slice[1].segment[tempItinerary.slice[1].segment.length-1].leg[tempItinerary.slice[1].segment[tempItinerary.slice[1].segment.length-1].leg.length-1].destination}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem">{{flightUtils.getTime(tempItinerary.slice[1].segment[0].leg[tempItinerary.slice[1].segment[0].leg.length-1].arrivalTime)}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem"><i class="icon ion-clock"></i>{{flightUtils.getDuration(tempItinerary.slice[1].duration)}}</div>
	  <div class="col-xs-1 col-sm-1 itineraryItem">stops: {{flightUtils.getStopCounts(tempItinerary.slice[1].segment)}}</div>
	</div
</div>
