    <ion-view title="{{navTitle}}"  left-buttons="leftButtons">

		<div class="tabs tabs-icon-left tabs-calm">
		  <a class="tab-item light">
		    <i class="icon ion-information-circled" href="#/flight/myaccountinfo"></i>
		    My Account
		  </a>
		  <a class="tab-item light" href="#/account/trips">
		    <i class="icon ion-plane"></i>
		    Trips
		  </a>
		  <a class="tab-item light" href="#/account/settings">
		    <i class="icon ion-gear-a"></i>
		    Settings
		  </a>
		  </div>

    </ion-view>


