  <div class="tabs tabs-icon-left">
    <a nav-clear class="tab-item disable-user-behavior" title="MyAccount" nav-clear ui-sref="flight.account">
      <i class="icon ion-information-circled"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior active" title="Trips" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" 
    ui-sref="menu.trips">
      <i class="icon ion-plane"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
    <a nav-clear class="tab-item disable-user-behavior" title="Settings" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" 
    ui-sref="menu.settings">
      <i class="icon ion-gear-a"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
    </a>
  </div>